@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Lato:300,400");

body {
    background-color: #282828;
    font-family: "Century Gothic", Helvetica, sans-serif;
    color: #FFFFFF;
		font-weight: 100;
		line-height: 1.65em;
    margin: 0;
}

/*Logo {
applies to the logo
}*/

.sect1 {

  padding: 21em;
  text-align: center;
  background-image: url("../images/4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:  cover;

  /*width: 100%;*/
  /*height: 200%;*/

}

.Subline {
  /*The line below the logo in section 1*/
  		font-size: 30px;
      width: auto;
      margin: auto;
}

/*.sections {
  applies to all sections
}*/
