#sect1 {
    height: 100%;
    background: black;
    text-align: left;
}
html,body {
    height: 100%;
}

#sect1content {

}
#sect1image {
    width: 33%;
    display: inline-block;
    float: left;
}
#sect1text {
    width: 66%;
    display: inline-block;
    float: left;
}
#themeimage {
    width:100%
}
